#greeting {
  font-family: Roboto-Thin;
  font-size: 3em;
  padding: 8px;
  width: calc(100% - 200px);
}

#summoner-greeting {
  font-family: Roboto-Bold;
  color: #F44336;
}

#role {
  font-family: Roboto-Bold;
  color: #F44336;
  font-size: 1em;
  height: auto;
}

#role:hover {
  background-color: rgba(255,255,255,0.2);
}

/* main layout */
#main-layout {
  width: 100%;
}

#main-layout > * {
  vertical-align: top;
}

#stats-layout {
  display: inline-block;
  width: calc(100% - 500px);
}

#overall-layout {
  display: inline-block;
  box-sizing: border-box;
  width: 284px;
  padding: 5px 5px 12px 5px;
  background-color: white;
  color: #323232;
  margin: 8px;
  border-radius: 2px;
}

#radar-layout {
  width: 274px;
  height: 274px;
}

/* coach */
#coach-layout  {
  position: fixed;
  display: inline-block;
  width: 200px;
  height: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
}

#coach-speaking-layout {
  width: 100%;
}

@keyframes coach-speaking-animation {
  from {
    opacity: 0;
    top: 20px;
  } to {
    opacity: 1;
    top: 0;
  }
}

.coach-speaking {
  position: relative;
  box-sizing: border-box;
  width: calc(100% - 16px);
  margin: 18px 8px 8px 8px;
  padding: 8px;
  background-color: white;
  border-radius: 2px;
  color: #323232;
  animation-name: coach-speaking-animation;
  animation-duration: 1s;
  box-shadow: 0 4px 5px rgba(0,0,0,0.24);
}

.coach-speaking:first-child {
  margin-top: 8px;
}

.coach-speaking::after {
  content: "";
  position: absolute;
  display: inline-block;
  top: calc(100% - 5px);
  right: 5px;
  width: 0;
  height: 0;
  border-top: 20px solid white;
  border-right: 15px solid transparent;
  border-bottom: 0 solid transparent;
  transform: rotate(15deg);
}

#coach {
  width: 184px;
  height: 184px;
  line-height: 184px;
  margin: 8px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.24);
  border-radius: 50%;
  background-color: #9C27B0;
}

@keyframes coach-animation {
  0% {
    transform: rotate(0deg);
  } 25% {
    transform: rotate(20deg);
  } 75% {
    transform: rotate(-20deg);
  } 100% {
    transform: rotate(0deg);
  }
}
#coach img {
  display: inline-block;
  width: 70%;
  height: auto;
  margin: 50% 0 0 50%;
  transform: translate(-50%,-50%);
}

#coach.speaking {
  animation-name: coach-animation;
  animation-duration: 2s;
}

/* stat */
.stat-layout {
  transition: 0.2s;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: calc(100% - 16px);
  height: 36px;
  background-color: white;
  color: #323232;
  margin: 8px;
  padding-right: 32px;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(0,0,0,0.24);
  border-radius: 2px;
}

.stat-layout:active {
  background-color: #CCCCCC;
}

.stat-layout.expanded {
  height: auto;
  cursor: default;
}

.stat-layout-button {
  transition: 0.2s background-color;
  position: absolute;
  top: 8px;
  right: 8px;
  font-family: Material-Icons;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
}

.stat-layout-button::after {
  content: 'expand_more';
}

.stat-layout-button:hover {
  background-color: rgba(0,0,0,0.12);
}

.expanded .stat-layout-button::after {
  content: 'expand_less';
}

.stat-stats {
  display: inline-block;
}

.expanded .stat-stats {
  width: 250px;
  border-right: 1px solid #EEEEEE;
}

.stat-stats > div {
  display: inline-block;
  height: 36px;
  line-height: 36px;
}

.stat-name {
  box-sizing: border-box;
  height: 36px;
  padding: 0 8px 0 8px;
  text-align: center;
  text-transform: capitalize;
  font-family: Roboto-Medium;
}

.expanded .stat-name {
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.stat-value-layout {
  text-align: center;
  position: absolute;
  right: 36px;
}

.expanded .stat-value-layout {
  width: 100%;
  position: relative;
  right: 0;
}

.stat-value {
  font-family: Roboto-Medium;
}

.bad .stat-value {
  color: #F44336;
}

.avg .stat-value {
  color: #BDBDBD;
}

.good .stat-value {
  color: #4CAF50;
}

.stat-advices {
  display: none;
  box-sizing: border-box;
  width: calc(100% - 251px);
  padding: 8px;
  vertical-align: top;
}

.expanded .stat-advices {
  display: inline-block;
}

.stat-layout canvas {
  display: none !important;
}

.stat-layout.expanded canvas {
  display: block !important;
}
